html,
body,
main {
  height: 100%;
  margin: 0;
}

main {
  height: calc(100% - 65px);
}

.container {
  max-width: 764px;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.column-full {
  width: 100%;
  margin: auto;
}

.column-seventy {
  width: 100%;
}

.column-twenty {
  width: 20%;
}

.column-eighty {
  width: 80%;
}

.height-100 {
  height: 100%;
}

.hw-100 {
  height: 100%;
  width: 100%;
}

.column-carousel {
  flex-basis: calc(100% / 6);
  margin-bottom: 2rem;
}

#cover-art {
  order: 1;
  flex-basis: 48%;
}

#info-card {
  order: 2;
  flex-basis: 48%;
}

#synopsis {
  order: 3;
  width: 100%;
}

#video-container {
  order: 4;
  width: 100%;
  height: 350px;
}

#video {
  border: none;
}

@media screen and (min-width: 764px) {
  .container {
    max-width: 900px;
  }

  .column-seventy {
    flex-basis: 70%;
  }

  .direction-column {
    flex-direction: column;
  }

  .row {
    flex-wrap: nowrap;
  }

  .wrap-reverse {
    flex-wrap: wrap-reverse;
  }

  #cover-art {
    order: 3;
    width: 35%;
  }

  #info-card {
    order: 1;
    width: 60%;
  }

  #synopsis {
    order: 2;
    width: 60%;
  }

  #video-container {
    order: 4;
    width: 35%;
    height: 200px;
  }
}
