.container {
  max-width: 575px;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.column-full {
  width: 100%;
  margin: auto;
}

.column-seventy {
  width: 100%;
}

.column-fifty {
  width: 50%;
}

.column-twenty {
  width: 20%;
}

.column-forty {
  flex-basis: 48%;
}

.column-eighty {
  flex-basis: 80%;
}

.column-full-mobile {
  width: 100%;
}

#cover-art {
  order: 1;
}

#info-card {
  order: 2;
}

#synopsis {
  order: 3;
}

#video {
  order: 4;
}

@media screen and (min-width: 700px) {
  .container {
    max-width: 900px;
  }

  .column-seventy {
    width: 70%;
  }

  .column {
    flex-direction: column;
  }

  .row {
    flex-wrap: nowrap;
  }

  .flex-wrap {
    flex-wrap: wrap;
  }

  .column-full-mobile {
    width: 50%;
  }

  #cover-art {
    order: 1;
  }

  #info-card {
    order: 3;
    width: 50%;
  }

  #synopsis {
    order: 4;
  }

  #video {
    order: 2;
  }
}
