body {
  font-family: Roboto, sans-serif;
}

input {
  border: none;
  outline: none;
  min-width: 1rem;
}

ul {
  list-style-type: none;
  padding: 0 2rem 2rem;
  font-size: 0.5rem;
}

.welcome,
.message {
  margin-top: 0;
  padding: 2rem 0 0;
}

h2 {
  margin: 0.5rem 0 1rem;
}

h2:hover {
  text-decoration: underline;
}

p {
  white-space: pre-line;
  margin: 0.5rem 0;
}

div.rating > p {
  line-height: 1.5rem;
}

a {
  text-decoration: none;
  cursor: pointer;
}

span {
  font-weight: 800;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

li {
  margin-top: 1rem;
  flex-wrap: nowrap;
  border: solid #0b5a82 3px;
  border-radius: 10px;
  overflow: hidden;
}

div.modal > h3 {
  margin-top: 0;
  margin-bottom: 3rem;
}

hr {
  height: 3px;
}

::placeholder {
  color: rgb(53, 53, 53);
}

.list-info {
  margin: 0 1rem;
  font-size: 0.8rem;
}

.search-bar {
  border-radius: 5px;
}

.rating-card {
  border-right: solid 3px #0b5a82;
  border-bottom: solid 3px #0b5a82;
  width: 45%;
  max-width: 80px;
}

.favorite-button,
.add-button {
  top: 0;
  right: 0;
  padding: 0.2rem 0;
  max-width: 100px;
  width: 50%;
  font-size: 0.8rem;
}

.add-button:hover {
  background-color: #9ad0ec;
}

.column-carousel {
  border-radius: 10px;
  overflow: hidden;
  border: solid 2px #0b5a82;
  transition: height 0.3s, padding-bottom 0.3s, transform 0.3s;
}

.column-carousel:hover {
  transform: scale(1.5);
  padding-bottom: 1.5rem;
  position: relative;
  z-index: 10;
  background-color: #0b5a82;
}

.fav-icon-margin {
  margin-right: 0.3rem;
}

#recommended {
  padding-bottom: 5rem;
}

.recommended-title {
  font-size: 0.5rem;
  text-align: center;
  margin: 0;
  height: 100%;
  color: white;
  width: 100%;
}

.trash-button {
  right: 0;
  margin: 1rem;
  font-size: 1.5rem;
  font-weight: 600;
}

.modal-shadow {
  background-color: rgba(0, 0, 0, 0.459);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.modal {
  background-color: #b0b0b0;
  padding: 2.5rem;
}

#cancel-button {
  border: solid 1px #0b5a82;
  padding: 0 1rem;
}

#remove-button {
  background-color: rgb(202, 0, 0);
  border: solid 1px rgb(202, 0, 0);
  color: white;
  padding: 0 1rem;
}

#info-card {
  border: solid 3px #0b5a82;
  border-radius: 10px;
  overflow: hidden;
}

#list-description {
  display: none;
}

#detail-title-english {
  color: lightslategray;
  padding-top: 0.5rem;
}

.fa-trash-can:hover {
  color: #9ad0ec;
}

.object-cover {
  object-fit: cover;
}

.dark-blue {
  color: #0b5a82;
}

.dark-blue-bg {
  background-color: #0b5a82;
}

.light-blue {
  color: #9ad0ec;
}

.light-blue-bg {
  background-color: #9ad0ec;
}

.green-bg {
  background-color: rgb(0, 147, 59);
}

.white-color {
  color: white;
}

.white-bg {
  background-color: white;
}

.padding-half {
  padding: 0.5rem;
}

.padding-1rem {
  padding: 1rem;
}

.margin-zero {
  margin: 0;
}

.font-size-1 {
  font-size: 1rem;
}

.font-size-1dot5 {
  font-size: 1.5rem;
}

.font-size-2 {
  font-size: 2rem;
}

.space-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.text-center {
  text-align: center;
}

.align-center {
  align-items: center;
}

.space-evenly {
  justify-content: space-evenly;
}

.hidden {
  display: none;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.overflow {
  overflow: hidden;
}

.lds-ring {
  position: relative;
  width: 80px;
  height: 80px;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: 2rem;
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #0b5a82;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #0b5a82 transparent transparent;
}

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 450px) {
  div.rating > p {
    font-size: 0.8rem;
    line-height: 1rem;
  }

  div.rating-card > h4 {
    padding: 0.1rem 0;
  }

  a.column-carousel > .art-container {
    height: 8rem;
  }

  a.column-carousel > p {
    font-size: 0.7rem;
  }

  .list-info {
    font-size: 0.5rem;
  }

  .trash-button {
    margin: 0.5rem;
    font-size: 1rem;
  }
}

@media screen and (min-width: 768px) {
  body {
    background-color: #b0b0b0;
  }

  p {
    margin: 1.5rem auto;
    line-height: 1.5rem;
  }

  h2 {
    font-size: 1.3rem;
    position: relative;
  }

  div.rating > p {
    margin: 0.3rem 0;
  }

  .recommended-title {
    font-size: 0.7rem;
  }

  .list-info {
    max-height: 30em;
    margin-left: 1.5rem;
  }

  .rating-card {
    width: 20%;
    max-width: 200px;
    margin-right: 1rem;
    font-size: 1.5rem;
    border-bottom: none;
  }

  .chevron {
    color: #0b5a82;
    font-size: 3rem;
  }

  .favorite-button,
  .add-button {
    padding: 0 0.2rem;
  }

  #list-description {
    display: contents;
  }
}
