body {
  font-family: Roboto, sans-serif;
}

input {
  border: none;
}

input:focus {
  outline: none;
}

ul {
  list-style-type: none;
  padding: 0 2rem 2rem;
  font-size: 0.5rem;
}

h1,
.message {
  margin-top: 0;
  padding: 3rem 0 0;
}

h2 {
  font-size: 1rem;
  margin: 0.5rem 0 1rem;
}

h2:hover {
  color: #0b5a82;
  text-decoration: underline;
}

p {
  font-size: 0.7rem;
  white-space: pre-line;
}

a {
  text-decoration: none;
  cursor: pointer;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

li {
  margin-top: 1rem;
}

li > div {
  height: 9rem;
}

div.rating-card > h4 {
  padding: 0.2em 0;
}

div.rating > p {
  font-weight: 600;
  margin-bottom: 1rem;
  font-size: 1rem;
}

div.modal > h3 {
  margin-top: 0;
  margin-bottom: 3rem;
}

::placeholder {
  color: rgb(53, 53, 53);
}

#nav-bar {
  max-height: 65px;
}

.object-cover {
  object-fit: cover;
}

.list-info {
  margin: 0 1rem;
}

.search-bar {
  max-width: 70%;
  background-color: white;
  padding: 0.4rem;
  margin: auto 0.5rem;
  border-radius: 5px;
}

.synopsis-text {
  font-size: 0.9rem;
}

.rating-card {
  border: solid 1px #0b5a82;
  width: 40%;
  font-size: 1.7rem;
}

.art-container {
  height: 145px;
  width: 100%;
  display: block;
}

.chevron {
  color: #0b5a82;
  font-size: 2rem;
}

.details {
  margin-bottom: 3rem;
}

.dark-blue {
  color: #0b5a82;
}

.dark-blue-bg {
  background-color: #0b5a82;
}

.light-blue {
  color: #9ad0ec;
}

.green-bg {
  background-color: rgb(0, 147, 59);
}

.white {
  color: white;
}

.white-bg {
  background-color: white;
}

.padding-half {
  padding: 0.5rem;
}

.padding-1rem {
  padding: 1rem;
}

.margin-zero {
  margin: 0;
}

.font-size-2 {
  font-size: 2rem;
}

.font-size-1dot3 {
  font-size: 1.3rem;
}

.font-400 {
  font-weight: 400;
}

.space-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.text-center {
  text-align: center;
}

.align-center {
  align-items: center;
}

.space-evenly {
  justify-content: space-evenly;
}

.hidden {
  display: none;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.favorite-button,
.add-button {
  top: 0;
  right: 0;
  padding: 0.2rem 0;
  width: 100px;
}

.add-button:hover {
  background-color: #9ad0ec;
}

.icon-margin {
  margin-right: 0.3rem;
}

.recommended-title {
  font-size: 0.8rem;
  position: absolute;
  text-align: center;
  bottom: 0;
  margin-bottom: 1rem;
  color: white;
  width: 100%;
}

.shadow {
  position: absolute;
  background: linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.637));
}

#list-description {
  display: none;
}

.edit-button {
  right: 0;
  font-size: 1rem;
  font-weight: 600;
}

.modal-bg {
  background-color: rgba(0, 0, 0, 0.459);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.overflow {
  overflow: hidden;
}

.modal {
  background-color: #b0b0b0;
  padding: 2.5rem;
}

#cancel-button {
  border: solid 1px #0b5a82;
  padding: 0 1rem;
  font-size: 1rem;
  margin: 0;
}

#remove-button {
  background-color: rgb(202, 0, 0);
  border: solid 1px rgb(202, 0, 0);
  color: white;
  padding: 0 1rem;
  font-size: 1rem;
  margin: 0;
  font-weight: 400;
}

@media screen and (min-width: 764px) {
  body {
    background-color: #b0b0b0;
  }

  p {
    margin: 1.5rem auto;
    line-height: 1.4em;
    font-weight: 700;
    font-size: 0.8rem;
  }

  h2 {
    font-size: 1.3rem;
    position: relative;
  }

  li > div {
    height: 14rem;
  }

  div.rating-card > h3 {
    margin: 0.9em auto;
  }

  div.rating > p {
    font-size: 1rem;
    margin: 0 auto;
  }

  div.rating > p:nth-child(n+2):nth-child(-n+4) {
    margin: 0.5rem 0;
  }

  div.rating-card > h4 {
    font-size: 0.8em;
  }

  div#synopsis > h3,
  div#video-container > h3 {
    font-size: 1.5rem;
    margin: 1rem 0;
  }

  .search-bar {
    max-width: 50%;
  }

  #list-description {
    display: contents;
    font-size: 1.5em;
    font-weight: 500;
  }

  .list-info {
    max-height: 30em;
    margin-left: 1.5rem;
  }

  .rating-card {
    width: 30%;
    font-size: 2rem;
    margin-right: 1rem;
  }

  .details {
    max-height: 900px;
  }

  .art-container {
    height: 220px;
    width: 100%;
  }

  .synopsis-text {
    font-weight: 500;
    margin: auto;
    padding-right: 1rem;
    min-height: 30rem;
  }

  .chevron {
    color: #0b5a82;
    font-size: 3rem;
  }
}
